body{
  background-image: url("./images/black.png");
}

.ddd{
  width: 60%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}

.quote{
  color: aliceblue;
}

.author{
  margin-top: 8%;
  color: aliceblue;
}

.new{
  position: fixed;
  bottom: 5%;
  right: 20%;
  border-radius: 45px;  
  padding: 15px;
  background-color:rgb(224, 235, 235);
  color: black;
  font-size:medium;
  font-weight:600;
}